.wrapper-login {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-image: linear-gradient(315deg, #d1d1d1, #e3dae4);

  .auth-container {
    background-color: #fffdf5;
    width: 901px;
    height: 463px;
    flex-shrink: 0;
    box-shadow: 0px 4px 10px 0px rgba(26, 17, 83, 0.2);
    padding: 25px;
    .section-left {
      margin-left: 100px;
      margin-right: 0;
      .succses {
        margin-top: 25px;
        .message{
          letter-spacing: 0.06em;
          color: green;
        }
        
      }
      .error{
        margin-top: 25px;
        .message{
          letter-spacing: 0.06em;
          color: red;
        }
      }
      .title {
        margin: 0;
        letter-spacing: 0.06em;
        margin-top: 100px;
        color: #121212;
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: 87.305%;
        margin-bottom: 40px;
      }
      .auth-form {
        display: flex;
        flex-direction: column;
        .input {
          margin: 0;
          margin-top: 30px;

          border: none;
          width: 399px;
          border-bottom: 1px solid #333;
          background: none;

          color: #a8a7a7;

          font-size: 18px;

          font-weight: lighter;
        }
        .btn-group {
          display: flex;
          gap: 70px;
          flex-direction: row;
          .login {
            margin-top: 20px;
            width: 148px;
            height: 37px;
            border: 0.5px solid #514a7e;
            background: #514a7e;
            color: #fffdf5;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.06em;
          }
          .login:active {
            transform: scale(1.06);
          }
          .reg {
            margin-top: 20px;
            background-color: #FFFDF5;
            width: 149.28px;
            height: 37px;
            border: 0.5px solid #514A7E;
            color: #514A7E;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.06em;
          }
          .reg:active {
            transform: scale(1.06);
          }
        }
      }
    }
    .section-right {
      margin-left: auto;
      margin-top: 40px;
      padding-right: 30px;
      .button-close {
        position: relative;
        z-index: 1;
        .svg {
          z-index: 2;
          position: absolute;
          bottom: 31px;
          right: 24px;
          box-sizing: border-box;
        }
      }
      .button-close:active {
        transform: scale(1.06);
      }
      .svg-bottom {
        position: absolute;

        margin-top: 166px;
      }
      @media (min-width: 1425px) {
        .svg-bottom {
          right: 245px;
        }
      }
      @media (min-width: 1920px) {
        .svg-bottom {
          right: 485px;
        }
      }
    }
  }
}
