.wrapper {
  display: flex;
  min-height: 1500px;
  flex-direction: row;
  font-family: "Roboto";
  margin: 0;
  padding: 0;

  margin-right: 200px;
  .error-message{
    color: red;
    margin-bottom: 100PX;
  }
  @media (min-width: 1425px) {
    .error-message {
      margin-right: 300px;
    }
  }
  @media (min-width: 1920px) {
    .error-message {
      margin-right: 530px;
    }
  }
.radio-button{
  display: flex;
  .radio-text{
    margin-bottom: 5px;
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}
  @media (min-width: 1425px) {
    .radio-button{
      margin-right: 230px;
      
      
    }
  }
  @media (min-width: 1920px) {
    .radio-button{
      margin-right: 465px;
      
    }
  }
  .total {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 0;
   

    .button-order {
      display: flex;
      margin-left: auto;
    
      margin-top: 36px;
      .btn {
        width: 149.28px;
        height: 37px;
        border: 0.5px solid #514a7e;
        background: #514a7e;
        color: #fffdf5;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.08em;
      }
      .btn:active{
        transform: scale(1.1);
      }
    }
    @media (min-width: 1425px) {
      .button-order {
        
        margin-right: 125px;
      }
   
    }
    @media (min-width: 1920px) {
      .button-order {
        
        margin-right: 140px;
      }
   
    }
    .total-title {
      margin-left: auto;
      color: #121212;
      font-family: Roboto;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 118%;
    }
    .total-price {
      color: #514a7e;
      font-family: Roboto;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 118%; /* 47.2px */
    }
    .product-quantity {
      padding-top: 25px;
      margin-left: 60px;
      color: #7d7d7d;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 118%; /* 16.52px */
    }
  }

  @media (min-width: 1425px) {
    .total {
      margin-right: 105px;
    }
  }
  @media (min-width: 1920px) {
    .total {
      margin-right: 324px;
    }
  }
}
.basket-info {
  display: flex;
  width: 80%;
  margin-top: 2%;

  .basket-title {
    color: #121212;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;
  }
  .basket-svg {
    padding-top: 40px;
    display: flex;
    align-content: center;
    margin-left: 15px;
  }
  .basket-count {
    padding-top: 10px;
    color: #514a7e;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .content {
    gap: 22px;
  }
}
