.wrapper-products-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    .stocks-container {
      margin-top: 0;
    }
  }