.wrapper-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    .content{
        margin-top: 90px;
        display: flex;
        flex-direction: row;
        min-height: 900px;
        .find-products{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            gap: 35px;
            margin-left: auto;
            margin-bottom: 10%;
            .product-card{
                width: 250px;
                height: 508px;
                .product-image{
                    height: 350px
                }
            }
        }
    }
    
}